# Build artifacts
bazel-*
.bazel_root/

# Python
__pycache__/
*.pyc

# Logs
*.log

# Experiment outputs
iteration_*/
PPA_report_*/
baseline_results/
random_results/
asap_results/
min_cut_results/
test_result/
test_report/
